<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddStudentServlet</servlet-name>
        <servlet-class>za.ac.tut.web.AddStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchStudentServlet</servlet-name>
        <servlet-class>za.ac.tut.web.SearchStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewStudentServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <servlet-class>za.ac.tut.web.DeleteStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudentServlet</servlet-name>
        <servlet-class>za.ac.tut.web.UpdateStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTotNumOfStudentServlet</servlet-name>
        <servlet-class>za.ac.tut.web.GetTotNumOfStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaleAverageStudentServlet</servlet-name>
        <servlet-class>za.ac.tut.web.MaleAverageStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FemaleAverageStudentServlet</servlet-name>
        <servlet-class>za.ac.tut.web.FemaleAverageStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>YoungestStudentServlet</servlet-name>
        <servlet-class>za.ac.tut.web.YoungestStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TotalPercentageStudentServlet</servlet-name>
        <servlet-class>za.ac.tut.web.TotalPercentageStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddStudentServlet</servlet-name>
        <url-pattern>/AddStudentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchStudentServlet</servlet-name>
        <url-pattern>/SearchStudentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewStudentServlet</servlet-name>
        <url-pattern>/ViewStudentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <url-pattern>/DeleteStudentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudentServlet</servlet-name>
        <url-pattern>/UpdateStudentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTotNumOfStudentServlet</servlet-name>
        <url-pattern>/GetTotNumOfStudentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaleAverageStudentServlet</servlet-name>
        <url-pattern>/MaleAverageStudentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FemaleAverageStudentServlet</servlet-name>
        <url-pattern>/FemaleAverageStudentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>YoungestStudentServlet</servlet-name>
        <url-pattern>/YoungestStudentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TotalPercentageStudentServlet</servlet-name>
        <url-pattern>/TotalPercentageStudentServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
